*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    /* width: 100%; */
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.381),rgba(0, 0, 0, 0.702)), url(images/apartment.jpg);
    /* background-position: center; */
    background-size: cover;
}
.logo{
    width: 120px;
    cursor: pointer;

}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 10px 2px 20px rgb(188, 0, 0);
}
nav ul li a:hover{
    color: rgb(0, 34, 255);
}
.detail{
    color: #fff;
    /* position: relative; */
    /* left: 40px; */
    /* top: 5px; */
    margin-top: 10px;
    margin-left: 45px;
}
.detail h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: blue;
    text-shadow: 1px 1px 50px white;
}
span{
    color: rgb(255, 255, 255);
}
span:hover{
    color: rgb(255, 0, 0);
}

.detail p{
    color: rgb(255, 255, 255);
    line-height: 25px;
    font-size: 20px;
}
.detail a{
    background: rgb(255, 255, 255);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    /* margin: 0px 0px; */
    border-radius: 30px;
    position: relative;
    /* left: 0px; */
    top: 15px;
}
 a:hover{
  background: red;
  color: blue;
}
.me {
position: absolute;
width: 450px;
left: 570px;
bottom: 80px;
}